<form {{action 'login' on='submit'}} class="ui form">
  <div class="field">
    <label for="email">Email</label>
    {{input id='email' placeholder='Enter email' value=email}}
  </div>
  
  <div class="field">
    <label for="password">Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password}}
  </div>
  
  <button type="submit" class="ui primary button">Login</button>

  {{#if errorMessage}}
    <div class="ui negative message">
      <div class="header">Ocurrio un error</div>
      <p>{{errorMessage}}</p>
    </div>
  {{/if}}
</form>

{{yield}}
